.Input {
  position: relative;
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 31px;
  font-size: 18px;
  color: rgb(24, 22, 22);
  line-height: 1.0;
}
.Invalid{
  border: 1px solid red;
  background-color: #FDA49A;
}

  input.Input {
    height: 49px;
    padding: 0 20px 0 23px;
  }
  
  
  textarea.Input{
    min-height: 120px;
    padding: 19px 20px 0 23px;
    border-width: 2px;
  }

.InputWrapper {
  width: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 10px;
  }

  .InputFocus {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 31px;
    box-shadow: 0 5px 20px 0px rgba(153, 52, 175, 0.15);
    transition: all 0.4s;
  }
  
.Input::focus + .InputFocus {
    box-shadow: 0 5px 20px 0px rgba(189,89,212, 0.15);
}
  
  
  input::placeholder { color: #b1b1ca;}

  textarea::placeholder { color: #bdbdd3;}