.Content{
   
    margin: 0 auto;
    margin-top: 18vh;
    width: 50%;
    background: #fff;
    border-radius: 45px;
    overflow: hidden;
    padding: 25px 35px 15px 35px; 
}

.ContentTitle {
    display: block;
    font-size: 39px;
    color: #2b6ae0;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 20px;
  }

  a {
    font-size: 14px;
    line-height: 1.7;
    color: #6572ee;
    margin: 0px;
    transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
  color: #896ba3;
}

.text-center {
    text-align: center;
     padding-top: 8px;
     padding-bottom: 10px;
  }
  
  .text-left {text-align: left;}
  .text-right {text-align: right;}
  .text-middle {vertical-align: middle;}
  
  .txt1 {
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
  }

  .bg1 {background-color: #3b5998}
  .bg2 {background-color: #1da1f2}
  .bg3 {background-color: #ea4335}

  @media screen and (max-width: 500px) {
    .Content{
      margin-top: 90px ;
      width: 90%;
      background: #fff;
      border-radius: 45px;
      padding: 2px 8px 10px 8px; 
  }
  }