* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body { 
	font-family: "Times New Roman", Times, serif;
	background: url('./assets/images/bg-01.jpg') no-repeat center center fixed;
	background-size: cover;
  }

  body, html {
	height: 100%;
	margin: 0;
  }